AZURE_STORAGE_CONNECTION_STRING="sua_connection_string"
AZURE_CONTAINER_NAME="imagens"
AZURE_TABLE_NAME="FileLogs"
AZURE_ACCESS_TABLE_NAME="AcessosFisicos"
AZURE_ACCESS_DATE_TABLE_NAME="AcessosPorData"